In [ ]:
# Activating Packages

import pandas as pd
import os

In [ ]:
# Establishing Source Data Object Locations

data_01_2020 = "Data/202001-citibike-tripdata.csv"
data_02_2020 = "Data/202002-citibike-tripdata.csv"
data_03_2020 = "Data/202003-citibike-tripdata.csv"
data_04_2020 = "Data/202004-citibike-tripdata.csv"
data_05_2020 = "Data/202005-citibike-tripdata.csv"
data_06_2020 = "Data/202006-citibike-tripdata.csv"
data_07_2020 = "Data/202007-citibike-tripdata.csv"
data_08_2020 = "Data/202008-citibike-tripdata.csv"
data_09_2020 = "Data/202009-citibike-tripdata.csv"
data_10_2020 = "Data/202010-citibike-tripdata.csv"
data_11_2020 = "Data/202011-citibike-tripdata.csv"
data_12_2020 = "Data/202012-citibike-tripdata.csv"
data_01_2021 = "Data/202101-citibike-tripdata.csv"
data_02_2021 = "Data/202102-citibike-tripdata.csv"
data_03_2021 = "Data/202103-citibike-tripdata.csv"
data_04_2021 = "Data/202104-citibike-tripdata.csv"

In [3]:
# Creating Dataframes

data_01_2020_df = pd.read_csv(data_01_2020, encoding='ISO-8859-1')
data_02_2020_df = pd.read_csv(data_02_2020, encoding='ISO-8859-1')
data_03_2020_df = pd.read_csv(data_03_2020, encoding='ISO-8859-1')
data_04_2020_df = pd.read_csv(data_04_2020, encoding='ISO-8859-1')
data_05_2020_df = pd.read_csv(data_05_2020, encoding='ISO-8859-1')
data_06_2020_df = pd.read_csv(data_06_2020, encoding='ISO-8859-1')
data_07_2020_df = pd.read_csv(data_07_2020, encoding='ISO-8859-1')
data_08_2020_df = pd.read_csv(data_08_2020, encoding='ISO-8859-1')
data_09_2020_df = pd.read_csv(data_09_2020, encoding='ISO-8859-1')
data_10_2020_df = pd.read_csv(data_10_2020, encoding='ISO-8859-1')
data_11_2020_df = pd.read_csv(data_11_2020, encoding='ISO-8859-1')
data_12_2020_df = pd.read_csv(data_12_2020, encoding='ISO-8859-1')
data_01_2021_df = pd.read_csv(data_01_2021, encoding='ISO-8859-1')
data_02_2021_df = pd.read_csv(data_02_2021, encoding='ISO-8859-1')
data_03_2021_df = pd.read_csv(data_03_2021, encoding='ISO-8859-1')
data_04_2021_df = pd.read_csv(data_04_2021, encoding='ISO-8859-1')

INSPECTING DATA FOR CONSISTENCY / INTEGRITY

In [4]:
data_01_2020_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,789,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,1992,1
1,1541,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,1969,1

In [5]:
data_02_2020_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1404,2020-02-01 00:00:05.9460,2020-02-01 00:23:30.7240,316,Fulton St & William St,40.709560,-74.006536,481,S 3 St & Bedford Ave,40.712605,-73.962644,28874,Customer,1995,1
1,1301,2020-02-01 00:00:06.2230,2020-02-01 00:21:48.0580,237,E 11 St & 2 Ave,40.730473,-73.986724,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,32588,Subscriber,1991,1

In [6]:
data_03_2020_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1589,2020-03-01 00:00:03.6400,2020-03-01 00:26:32.9860,224,Spruce St & Nassau St,40.711464,-74.005524,3574,Prospect Pl & Underhill Ave,40.676969,-73.965790,16214,Subscriber,1980,1
1,389,2020-03-01 00:00:16.7560,2020-03-01 00:06:46.0620,293,Lafayette St & E 8 St,40.730207,-73.991026,223,W 13 St & 7 Ave,40.737815,-73.999947,29994,Subscriber,1991,2

In [7]:
data_04_2020_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,534,2020-04-01 00:00:15.2800,2020-04-01 00:09:09.8730,3656,E 2 St & Avenue A,40.723077,-73.985836,545,E 23 St & 1 Ave,40.736502,-73.978095,15162,Subscriber,1990,2
1,529,2020-04-01 00:02:28.9430,2020-04-01 00:11:18.3410,3163,Central Park West & W 68 St,40.773407,-73.977825,3301,Columbus Ave & W 95 St,40.791956,-73.968087,42861,Subscriber,1974,1

In [8]:
data_05_2020_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,336,2020-05-01 00:01:06.3380,2020-05-01 00:06:42.9560,2017,E 43 St & 2 Ave,40.750224,-73.971214,465,Broadway & W 41 St,40.755136,-73.986580,18015,Subscriber,1993,1
1,853,2020-05-01 00:01:08.1950,2020-05-01 00:15:21.2150,3376,E 65 St & 2 Ave,40.764719,-73.962221,478,11 Ave & W 41 St,40.760301,-73.998842,35905,Subscriber,1989,1

In [9]:
data_06_2020_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1062,2020-06-01 00:00:03.3720,2020-06-01 00:17:46.2080,3419,Douglass St & 4 Ave,40.679279,-73.981540,3419,Douglass St & 4 Ave,40.679279,-73.981540,39852,Customer,1997,2
1,3810,2020-06-01 00:00:03.5530,2020-06-01 01:03:33.9360,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,336,Sullivan St & Washington Sq,40.730477,-73.999061,37558,Subscriber,1969,0

In [10]:
data_07_2020_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,341,2020-07-01 00:00:01.3020,2020-07-01 00:05:42.5650,3463,E 16 St & Irving Pl,40.735367,-73.987974,2003,1 Ave & E 18 St,40.733812,-73.980544,33861,Subscriber,1986,1
1,321,2020-07-01 00:00:01.3620,2020-07-01 00:05:22.9490,3463,E 16 St & Irving Pl,40.735367,-73.987974,2003,1 Ave & E 18 St,40.733812,-73.980544,31233,Subscriber,1990,2

In [11]:
data_08_2020_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2013,2020-08-01 00:00:00.8790,2020-08-01 00:33:34.7260,3295,Central Park W & W 96 St,40.791270,-73.964839,3992,W 169 St & Fort Washington Ave,40.842842,-73.942125,19706,Customer,1998,1
1,7002,2020-08-01 00:00:01.5910,2020-08-01 01:56:44.0720,3144,E 81 St & Park Ave,40.776777,-73.959010,3671,E 81 St & 2 Ave,40.774779,-73.954275,37191,Subscriber,1966,1

In [12]:
data_09_2020_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,4225,2020-09-01 00:00:01.0430,2020-09-01 01:10:26.6350,3508,St Nicholas Ave & Manhattan Ave,40.809725,-73.953149,116,W 17 St & 8 Ave,40.741776,-74.001497,44317,Customer,1979,1
1,1868,2020-09-01 00:00:04.8320,2020-09-01 00:31:13.7650,3621,27 Ave & 9 St,40.773983,-73.930913,3094,Graham Ave & Withers St,40.716981,-73.944859,37793,Customer,1991,1

In [13]:
data_10_2020_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1403,2020-10-01 00:00:10.7870,2020-10-01 00:23:34.5400,224,Spruce St & Nassau St,40.711464,-74.005524,3347,Van Brunt St & Wolcott St,40.677343,-74.012751,39079,Subscriber,1995,1
1,462,2020-10-01 00:00:18.2390,2020-10-01 00:08:00.5710,3161,W 76 St & Columbus Ave,40.780184,-73.977285,3158,W 63 St & Broadway,40.771639,-73.982614,41267,Subscriber,1998,2

In [14]:
data_11_2020_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,521,2020-11-01 00:00:07.0150,2020-11-01 00:08:48.3010,3467,W Broadway & Spring St,40.724947,-74.001659,350,Clinton St & Grand St,40.715595,-73.987030,40405,Subscriber,1989,1
1,492,2020-11-01 00:00:10.8080,2020-11-01 00:08:23.3170,3557,40 Ave & 9 St,40.757420,-73.945133,3557,40 Ave & 9 St,40.757420,-73.945133,46504,Subscriber,1970,2

In [15]:
data_12_2020_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,694,2020-12-01 00:00:03.7770,2020-12-01 00:11:38.3160,4065,Wadsworth Ave & W 179 St,40.848467,-73.936064,3959,Edgecombe Ave & W 145 St,40.823498,-73.943860,49454,Customer,1988,2
1,4131,2020-12-01 00:00:09.1730,2020-12-01 01:09:00.2370,3284,E 88 St & Park Ave,40.781411,-73.955959,3147,E 85 St & 3 Ave,40.778012,-73.954071,49524,Subscriber,1988,1

In [16]:
data_01_2021_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2513,2021-01-01 00:00:11.9020,2021-01-01 00:42:05.2260,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47812,Customer,1969,0
1,2519,2021-01-01 00:00:15.0960,2021-01-01 00:42:14.9780,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47571,Customer,1969,0

In [17]:
data_02_2021_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,304,2021-02-01 00:04:23.0780,2021-02-01 00:09:27.7920,3175,W 70 St & Amsterdam Ave,40.777480,-73.982886,4045,West End Ave & W 60 St,40.772370,-73.990050,27451,Subscriber,1996,2
1,370,2021-02-01 00:07:08.8080,2021-02-01 00:13:19.4670,3154,E 77 St & 3 Ave,40.773142,-73.958562,3725,2 Ave & E 72 St,40.768762,-73.958408,35000,Subscriber,1991,1

In [18]:
data_03_2021_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1753,2021-03-01 00:00:00.1220,2021-03-01 00:29:13.1460,3113,Greenpoint Ave & Manhattan Ave,40.730260,-73.953940,3165,Central Park West & W 72 St,40.775794,-73.976206,47373,Customer,1970,0
1,131,2021-03-01 00:00:00.9650,2021-03-01 00:02:12.8080,2012,E 27 St & 1 Ave,40.739445,-73.976806,174,E 25 St & 1 Ave,40.738177,-73.977387,45558,Customer,1970,0

In [19]:
data_04_2021_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,370,2021-04-01 00:00:02.8730,2021-04-01 00:06:13.3450,4111,E 27 St & Park Ave S,40.742752,-73.984716,3798,W 40 St & 5 Ave,40.752269,-73.982079,36389,Customer,1970,0
1,2102,2021-04-01 00:00:04.7670,2021-04-01 00:35:07.2640,3087,Metropolitan Ave & Meeker Ave,40.714133,-73.952344,3859,Lorimer St & Calyer St,40.727950,-73.954140,52731,Customer,1970,0

Combining Data

In [ ]:
Combined_Data = file_one_df.append([